{% extends "admin.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-round">
                        
                        <div class="card-header">
                            <div class="card-head-row card-tools-still-right">
                                <h4 class="card-title">Users Geolocation</h4>
                                <div class="card-tools">

                                    <button class="btn btn-icon btn-link btn-primary btn-xs"  data-bs-toggle="modal" data-bs-target="#add-user-modal">
                                        <span class="fa fa-plus"></span>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive table-hover table-sales">
                                        <table class="table" id="main_table">
                                            <thead>
                                                <tr class="center-align">
                                                    <th scope="col"></th>
                                                    <th scope="col" class="left-align">User</th>
                                                    <th scope="col">Date Registered</th>
                                                    <th scope="col">Last Login</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in user_data %}
                                                <tr class="center-align">
                                                    <td> 
                                                        <span id="userInitials" class="rounded-circle" style="height: 40px; width: 40px; line-height: 40px; text-align: center; background-color: #f0f0f0; color: #333; border-radius: 50%; display: inline-block; font-size: 14px; font-weight: bold;">{{ user.user_initials }}</span>
                                                    </td>
                                                    <td class="left-align">
                                                        {{ user.first_name }} {{ user.last_name }} <br>
                                                        {{ user.email }}
                                                    </td>
                                                    <td>
                                                        {{ user.date_joined|date:"m/d/Y h:i A" }}
                                                    </td>                                
                                                    <td>
                                                        {{ user.last_login|date:"m/d/Y h:i A" }}
                                                    </td>                                   
                                                    <td>
                                                        <button class="btn {% if user.status == 'Approved' %}btn-primary{% else %}btn-danger{% endif %}">
                                                            {{ user.status }}
                                                        </button>
                                                    </td>                                    
                                                    <td>
                                                        <button class="btn btn-info me-2"  data-bs-toggle="modal" data-bs-target="#edit-user-modal" data-user-id="{{ user.id }}" data-user-firstname="{{ user.first_name }}" data-user-lastname="{{ user.last_name }}" data-user-username="{{ user.username }}" data-user-email="{{ user.email }}" data-user-status="{{ user.status }}" data-user-password="{{ user.password }}">
                                                            <i class="fas fa-pen"></i> 
                                                        </button>

                                                        <button class="btn btn-danger delete_user" data-user-id="{{ user.id }}">
                                                            <i class="fas fa-trash"></i> 
                                                        </button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- ADD USER MODAL -->
    <div class="modal fade" id="add-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add-user">
                    {% csrf_token %}

                    <div class="modal-header">
                        <h5 class="modal-title">Add User </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group d-flex align-items-center">
                            <label for="first_name" style="min-width: 120px;">First Name</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="last_name" style="min-width: 120px;">Last Name</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="username" style="min-width: 120px;">Username</label>
                            <input type="text" name="username" class="form-control">
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="email" style="min-width: 120px;">Email Address </label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <input type="text" value="alfam123" name="password" class="form-control" hidden>
                             
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Add </button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Edit User MODAL -->
    <div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="edit-user">
                    {% csrf_token %}

                    <div class="modal-header">
                        <h5 class="modal-title">Edit User </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <input type="text" id="user_id" name="user_id" class="form-control" hidden>

                        <div class="form-group d-flex align-items-center">
                            <label for="first_name" style="min-width: 120px;">First Name</label>
                            <input type="text" id="first_name" name="first_name" class="form-control">
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="last_name" style="min-width: 120px;">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" required>
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="username" style="min-width: 120px;">Username</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <label for="email" style="min-width: 120px;">Email Address </label>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                                
                        <hr>

                        <div class="form-group d-flex align-items-center">
                            <label for="email" style="min-width: 120px;">Status </label>
                            <select id="status" name="status" class="form-select uniform-size" style="padding: 10px;">
                                <option value="Approved">Approved</option>
                                <option value="Not Approved">Not Approved</option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Add </button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->

    <!-- Script -->
    <script>
        $(document).ready(function() {

            //========================================================================================================================================
                $('#add-user').on('submit', function(event) {
                    event.preventDefault();
                    
                    var formData = $(this).serialize();
                    $('#loading-indicator').show();
                
                    $.ajax({
                        url: '{% url "add_user" %}',
                        type: 'POST',
                        data: formData,
                        success: function(response) {
                            swal({
                                title: "Success!",
                                text: "",
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    }
                                }
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload();
                                }, 1000); 
                            });
                        },
                        error: function(xhr, errmsg, err) {
                            swal({
                                title: "Error!",
                                text: '',
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    }
                                }
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload();
                                }, 1000); 
                            });
                        },
                    });
                });
           
            //========================================================================================================================================

                $('#edit-user-modal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget);
            
            
                    var passed_user_id = button.data('user-id');
                    var passed_user_firstname = button.data('user-firstname');
                    var passed_user_lastname = button.data('user-lastname');
                    var passed_user_username= button.data('user-username');
                    var passed_user_email = button.data('user-email');
                    var passed_status = button.data('user-status');
                    var passed_password = button.data('user-password');

                    $('#user_id').val(passed_user_id);
                    $('#first_name').val(passed_user_firstname);
                    $('#last_name').val(passed_user_lastname);
                    $('#email').val(passed_user_email);
                    $('#username').val(passed_user_username);
                    $('#status').val(passed_status);

                });
                
            //========================================================================================================================================
                
                /*
                    $('a.users_menu').removeClass('faded');
                    $('a.utilitiesSubmenu').removeClass('faded');
                    $('div.util-collapse').addClass('show');
                */
                var $anchor = $('li.li_users');
                $anchor.addClass('active');

            //========================================================================================================================================
                $('#edit-user').on('submit', function(event) {
                    event.preventDefault();
                    
                    var formData = $(this).serialize();
                    $('#loading-indicator').show();
                
                    $.ajax({
                        url: '{% url "update_user" %}',
                        type: 'POST',
                        data: formData,
                        success: function(response) {
                            swal({
                                title: "Success!",
                                text: "",
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    }
                                }
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload();
                                }, 1000); 
                            });
                        },
                        error: function(xhr, errmsg, err) {
                            swal({
                                title: "Error!",
                                text: '',
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    }
                                }
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload();
                                }, 1000); 
                            });
                        },
                    });
                });
            //========================================================================================================================================

                $('.delete_user').click(function(e) {
                    e.preventDefault(); 
                    
                    var userId = $(this).data('user-id');

                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        buttons: {
                            confirm: {
                                text: "Yes, delete it!",
                                className: "btn btn-success",
                            },
                            cancel: {
                                visible: true,
                                className: "btn btn-danger",
                            },
                        },
                    }).then((Delete) => {
                        if (Delete) {
                            $('#loading-indicator').show();
                
                            var url = '/utilities/delete_user/' + userId + '/';

                            $.ajax({
                                url: url,
                                type: 'POST', 
                                data: {
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function(response) {
                                    setTimeout(function() {
                                        $('#loading-indicator').hide();
                
                                        swal({
                                            title: "Deleted!",
                                            text: "User has been deleted.",
                                            icon: "success",
                                            buttons: {
                                                confirm: {
                                                    className: "btn btn-success",
                                                },
                                            },
                                            timer: 3000 
                                        }).then(() => {
                                            location.reload(); 
                                        });
                                    }, 500); 
                                },
                                error: function(xhr, status, error) {
                                    $('#loading-indicator').hide();
                                    swal({
                                        title: "Error",
                                        text: "",
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                className: "btn btn-danger",
                                            },
                                        },
                                    });
                                },
                                complete: function() {
                                    setTimeout(function() {
                                        $('#loading-indicator').hide();
                                    }, 3000); 
                                },
                            });
                        } else {
                            swal.close(); 
                        }
                    });
                });

            //========================================================================================================================================
            //========================================================================================================================================
            //========================================================================================================================================


         });

    </script>

{% endblock %}
