{% extends "admin.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-round">
                        
                        <div class="card-header">
                            <div class="card-head-row card-tools-still-right">
                                <h4 class="card-title">Formula</h4>
                                <div class="card-tools">
                                    <button class="btn btn-icon btn-link btn-primary btn-xs d-none" >
                                        <span class="fa fa-angle-down"></span>
                                    </button>

                                    <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card d-none">
                                        <span class="fa fa-sync-alt"></span>
                                    </button>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-folder-modal">
                                        + Add Folder
                                    </button>

                                    <a href="/admin/add_formula">
                                        <button class="btn" style="background-color: lightgreen; opacity: 0.6em; color: black;">+ Create New Formula</button>
                                    </a>

                                </div>
                            </div>

                            <p class="card-category d-none">
                                Map of the distribution of users around the world
                            </p>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive table-hover table-sales pt-4">
                                        <table class="table" id="main_table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Brand Name</th>
                                                    <th scope="col">Product Type</th>
                                                    <th style="text-align: right;" scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for folders in folder_formulas_with_counts %}
                                                    <tr data-folder-id = {{ folders.id }} class="folder-row" style="font-weight: bold;">
                                                        <td class="center-align"> 
                                                            <input type="checkbox" class="folder-checkbox" data-folder-id="{{ folders.id }}" hidden>
                                                        </td>
                                                        <td>{{ folders.folder_name }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="text-align: right; vertical-align: bottom; display: flex; align-items: center">
                                                            <span style="margin-left: auto;">{{ folders.num_formulas }} +</span>
                                                            <div class="dropdown" style="margin-left: auto;">
                                                                <button class="unstyled-button no-redirect" type="button" id="dropdownMenuButtons" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtons" style="font-size: 11px;">
                                                                    <li>
                                                                        <button class="dropdown-item unstyled-button"  data-bs-toggle="modal" data-bs-target="#rename-folder-modal"  data-folder-id="{{ folders.id }}" data-folder-name="{{ folders.folder_name}}">
                                                                            Rename
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button class="dropdown-item deleteFolderBtn unstyled-button" data-folder-id="{{ folders.id }}">
                                                                            Delete
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                    
                                                    {% for formula in formulas %}
                                                        {% if formula.assigned_folder_id == folders.id %}
                                                            <tr class="formula-details" data-folder-id="{{ folders.id }}" style="display: none; vertical-align: middle;" data-formula-id="{{ formula.id }}" id="formula_row">
                                                                <td class="center-align"> 
                                                                    <input type="checkbox" class="formula-checkbox no-redirect" data-folder-id="{{ folders.id }}" hidden>
                                                                </td>
                                                                <td style="text-transform: uppercase;">
                                                                    <span style="padding-left: 10px;"> - &nbsp; {{ formula.formula_name }} </span>
                                                                </td>
                                                                <td>
                                                                    {{ formula.brand_name }}
                                                                </td>
                                                                <td>
                                                                    {{ formula.product_type.product_type }}
                                                                </td>
                                                     
                                                                <td>
                                                                    <div class="dropdown" style="margin-left: auto; vertical-align: middle; text-align: right; float: right;">
                                                                        <button class="unstyled-button no-redirect" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="font-size: 12px;">
                                                                            <li>
                                                                                <button type="button" class="dropdown-item deleteFormulaBtn unstyled-buttons" data-formula-id="{{ formula.id }}">
                                                                                    Delete
                                                                                </button>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>      
                                    </div>
                                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Add folder -->
    <div class="modal fade" id="add-folder-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="add-folder-form">
                    {% csrf_token %}
                
                    <div class="modal-header">
                        <img src="{% static 'img/icon-addfolder.png' %}" alt="Folder Icon" class="folder-icon" style="margin-left: auto;" height="100">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Create new folder" name="folder_name" required>
                        <input type="text" class="form-control" name="user_id" value="{{ user.id }}" hidden>

                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Create Folder</button>                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Rename folder -->
    <div class="modal fade" id="rename-folder-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="rename-folder-form" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <img src="{% static 'img/icon-addfolder.png' %}" alt="Folder Icon" class="folder-icon" style="margin-left: auto;" height="100">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="text" id="renamefolderId" name="folder_id" hidden>
                        <input type="text" class="form-control" id="renamefolderName" name="folder_name" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Rename Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script>
        $(document).ready(function() {
            //========================================================================================================================================

                $('#add-folder-form').on('submit', function(e) {
                    e.preventDefault(); 
            
                    var formData = $(this).serialize();

                    $('#loading-indicator').show(); 

                    $.ajax({
                        url: "{% url 'add_folder_formulas' %}",  
                        type: "POST",
                        data: formData,
                        success: function(response) {
                            swal("Success!", " Folder succesfully added", {
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    },
                                },
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload(); 
                                }, 1000); 
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error("Failed to delete: " + error);
                            $('#loading-indicator').hide();
                            swal({
                                title: "Error",
                                text: "An error occurred while trying to add the part.",
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    },
                                },
                            }).then(() => {
                                setTimeout(function() {
                                    location.reload(); 
                                }, 1000); 
                            });
                        },
                        complete: function() {
                            setTimeout(function() {
                                $('#loading-indicator').hide();
                            }, 3000); 
                        }
                    });
                });

            //========================================================================================================================================
           
                $('#rename-folder-form').on('submit', function(e) {
                    e.preventDefault(); 
            
                    var formData = $(this).serialize();

                    $('#loading-indicator').show(); 

                    $.ajax({
                        url: "{% url 'update_folder' %}", 
                        type: "POST",
                        data: formData,
                        success: function(response) {
                            setTimeout(function() {
                                swal({
                                    title: "Deleted!",
                                    text: "Folder renamed succesfully.",
                                    icon: "success",
                                    buttons: {
                                        confirm: {
                                            className: "btn btn-success",
                                        },
                                    },
                                    timer: 3000 
                                }).then(() => {
                                    location.reload(); 
                                });
                            }, 500); 
                        },
                        error: function(xhr, status, error) {
                            swal({
                                title: "Error",
                                text: "An error occurred while trying to rename the folder.",
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    },
                                },
                            });
                        },
                        complete: function() {
                            setTimeout(function() {
                                $('#loading-indicator').hide();
                            }, 3000); 
                        }
                    });
                });

            //========================================================================================================================================
            
                $('#rename-folder-modal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget);
            
                    var folderId = button.data('folder-id');
                    var folderName = button.data('folder-name');
            
                    $('#renamefolderId').val(folderId);
                    $('#renamefolderName').val(folderName);
                });

            //========================================================================================================================================
        
                var $deletebtnFolder = $(".deleteFolderBtn");

                $deletebtnFolder.on("click", function() {
                    var folderId = $(this).data('folder-id');
            
                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        buttons: {
                            confirm: {
                                text: "Yes, delete it!",
                                className: "btn btn-success",
                            },
                            cancel: {
                                visible: true,
                                className: "btn btn-danger",
                            },
                        },
                    }).then((Delete) => {
                        if (Delete) {
                            $('#loading-indicator').show();
                                
                            $.ajax({
                                url: 'delete_folder/' + folderId + '/',
                                method: 'DELETE',
                                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                                success: function(response) {
                                    setTimeout(function() {
                                        $('#loading-indicator').hide();
                
                                        swal({
                                            title: "Deleted!",
                                            text: "Folder has been deleted.",
                                            icon: "success",
                                            buttons: {
                                                confirm: {
                                                    className: "btn btn-success",
                                                },
                                            },
                                            timer: 3000 
                                        }).then(() => {
                                            location.reload(); 
                                        });
                                    }, 500); 
                                },
                                error: function(xhr, status, error) {
                                    $('#loading-indicator').hide();
                                    swal({
                                        title: "Error",
                                        text: "An error occurred while trying to delete the part.",
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                className: "btn btn-danger",
                                            },
                                        },
                                    });
                                },
                                complete: function() {
                                    setTimeout(function() {
                                        $('#loading-indicator').hide();
                                    }, 3000); 
                                },
                            });
                        } else {
                            swal.close(); 
                        }
                    });
                });

            //========================================================================================================================================

                var $deletebtnFormulas = $(".deleteFormulaBtn");

                $deletebtnFormulas.on("click", function() {
                    var formulaId = $(this).data('formula-id');
            
                    if (confirm("Confirm to delete this formula?")) {
                        $('#loading-indicator').show(); 

                        $.ajax({
                            url: 'delete_formula/' + formulaId + '/',
                            method: 'DELETE',
                            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                            success: function(response) {
                                setTimeout(function() {
                                    location.reload();
                                }, 3000);
                            },
                            error: function(xhr, status, error) {
                                console.error("Failed to delete: " + error);
                            },
                            complete: function() {
                                setTimeout(function() {
                                    $('#loading-indicator').hide();
                                }, 3000); 
                            }
                        });
                    }
                });

            //========================================================================================================================================

                $('.folder-row').click(function() {

                    var folderId = $(this).data('folder-id');
                    var formulaDetailsRow = $('.formula-details[data-folder-id="' + folderId + '"]');
                    
                    formulaDetailsRow.toggle();
                    
                });

            //========================================================================================================================================

                $('.formula-details').click(function() {
                    var formulaId = $(this).data('formula-id');
                    var url = '/admin/edit_formula/' + formulaId;
                    window.location.href = url;
                });

            //========================================================================================================================================
                
                $('.no-redirect').click(function(event) {
                    event.stopPropagation();
                });

            //========================================================================================================================================
            
                var $anchor = $('li.formula');
                $anchor.addClass('active');

            //========================================================================================================================================
            //========================================================================================================================================
            //========================================================================================================================================
            //========================================================================================================================================

        });

    </script>

    <style>
        .unstyled-button {
            border: none;
            background: none;
            cursor: pointer;
        }
    </style>
{% endblock %}
