{% extends "admin.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-round">
                    <div class="card-body">
                        <div class="resizable-container">
                          <div class="resizable" id="resizable1">
                            1 of 2
                            <div class="resizer" id="resizer1"></div>
                          </div>
                          <div class="resizable" id="resizable2">
                            2 of 2
                            <div class="resizer" id="resizer2"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
  <style>
    .resizable-container {
        display: flex;
        align-items: stretch;
    }
    
    .resizable {
        position: relative;
        min-width: 100px; /* Minimum width for the divs */
        border: 1px solid #ddd;
        padding: 10px;
        overflow: auto;
    }
    
    .resizer {
        width: 10px;
        height: 100%;
        background: #ddd;
        position: absolute;
        right: 0;
        top: 0;
        cursor: ew-resize;
        z-index: 10;
    }
      
  </style>
{% endblock %}
